@import url(/assets/css/colors.css);
.choseQuiz{
    padding-bottom: 1rem;
    background: var(--color-tense);
}
.choseQuiz h2{
    margin: auto;
    font-size: var(--font-size-high);
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    color: var(--color-primary);
    width: 90%;
}
section{
    background: var(--color-tense);
    width: 100%;
    height: 90vh;
    justify-content: center;
}
.choseQuizGroup{
    display: flex;
    margin: auto;
    justify-content: center;
}
.optionQuiz{
    border-radius: .5rem;
    display: flex;
    margin: auto;
    margin: 1rem;
    padding: 1rem;
    height: 30vh;
    width: 40%;
    flex-direction: row-reverse;
    box-shadow: 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 5px  var(--color-black);
    -moz-box-shadow: 5px 5px 5px var(--color-black);
    transition: ease-in .4s;
}
.optionQuiz:hover{
    background: var(--color-secundary);
    transition: ease-in .4s;
}
.optionQuiz h2{
    color: var(--color-primary);
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}
.optionQuiz img{
    height: 85%;
    width: 40%;
}
.content-text-quiz{
    padding-top: 5%;
    width: 70%;
    height: 30%;
}
input{
    outline: none;
    font-size: var(--font-size);
    border: 2px solid var(--color-secundary);
    justify-content: flex-start;
    width: 45%;
    margin-top: 1rem;
    padding: 1rem;
    background: var(--color-tense);
    border-radius: .5rem;
}
input:hover{
    background: var(--color-primary);
    cursor: pointer;
    transition: ease .2s;
}

@media screen and (max-width: 1200px) {
    section{
        background: var(--color-tense);
        width: 100%;
        height: 100%;
    }
    .choseQuizGroup{
        display: inline-grid;
        margin: auto;
    }
    .optionQuiz{
        margin: auto;
        width: 90%;
        height: 27vh;
        border-radius: .5rem;
        display: flex;
        margin: .5rem;
        padding: .5rem;
    }
    .optionQuiz img{
        height: 85%;
        width: 35%;
    }
    .content-text-quiz{
        padding-top: 8%;
        width: 100%;
        height: 100%;
    }
    input {
        outline: none;
        font-size: var(--font-size);
        border: 2px solid var(--color-secundary);
        padding: .5rem;
        width: 60%;
        background: var(--color-tense);
        margin: auto;
        border-radius: 0.5rem;
        margin-top: 3rem;
    }
    .optionQuiz h2{
        padding-bottom: 0rem;
        padding-top: 0rem;
    }
} 