:root{
    --font-size-high: 2rem;
    --font-size: 1.5rem;
    --color-primary: #D980FA;
    --color-secundary:  #FDA7DF;
    --color-tense: #fabc02;
}
.choseQuiz h2{
    margin: auto;
    font-size: var(--font-size-high);
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    color: var(--color-primary);
    width: 90%;
}
section{
    background: var(--color-tense);
    width: 100%;
    height: 90vh;
}
.choseQuizGroup{
    display: flex;
    margin: auto;
    justify-content: center;
}
.optionQuiz{
    border-radius: .5rem;
    display: flex;
    margin: auto;
    background: var(--color-primary);
    margin: 1rem;
    padding: 1rem;
    height: 30vh;
    width: 40%;
    flex-direction: row-reverse;
}
.optionQuiz:hover{
    background: var(--color-secundary);
    transition: ease .3s;
}
.optionQuiz h2{
    color: var(--color-tense);
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}
.optionQuiz img{
    height: 85%;
}
.content-text-quiz{
    padding-top: 5%;
    width: 70%;
    height: 30%;
}
input{
    outline: none;
    font-size: var(--font-size);
    border: 2px solid var(--color-secundary);
    justify-content: flex-start;
    width: 45%;
    margin-top: 1rem;
    padding: 1rem;
    background: var(--color-tense);
    border-radius: .5rem;
}
input:hover{
    background: var(--color-primary);
    cursor: pointer;
    transition: ease .2s;
}