@import url(/assets/css/colors.css);
#quiz{
    background: var(--color-tense);
    height: 90vh;
}
.headerQuiz{
    background: var(--color-tense);
}
.content-text{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.content-text h2, span{
    font-size: var(--font-size);
    color: var(--color-black);
    padding-top: 1rem;
}
.ponts{
    display: flex;
}
.headerQuiz h1{
    color: var(--color-primary);
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    font-size: var(--font-size-high);
}
.greenQuiz{
    margin: auto;
    color: var(--color-black);
    font-size: 20px;
    padding-top: 1rem;
    width: 90%;
}
.choseAlternative{
    color: var(--color-primary);
    list-style: none;
    margin: auto;
    width: 90%;
    height: 60vh;
}
.choseAlternative li{
    margin: auto;
    background: var(--color-white-parse);
    font-size: var(--font-size);
    border-radius: 5px;
    margin-top: 2rem;
    padding: 1.5rem;
    box-shadow: 2px 2px 2px;
    -webkit-box-shadow: 2px 2px 2px  var(--color-black);
    -moz-box-shadow: 2px 2px 2px var(--color-black);
}
.choseAlternative li:hover{
    transition: ease .2s;
    cursor: pointer;    
}

@media screen and (max-width: 800px) {
    #quiz{
        background: var(--color-tense);
        height: 100%;
    }
    .headerQuiz{
        padding-bottom: 2rem;
        height: 100%;
    }
    .content-text{
        display: revert;
        width: 90%;
    }
}